<!-- Full Body Container -->
<div id="container">
<script type="text/javascript" src="js/script.js"></script>
<%= render 'layouts/header' %>

  <!-- Start Home Page Slider -->
  <section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
      </ol>
      <!--/ Indicators end-->

      <!-- Carousel inner -->
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated2">
                          <span>Welcome to <strong>Feth</strong></span>
                        </h2>
              <h3 class="animated2">
                            <span>The ultimate aim of your business</span>
                          </h3>
              <div class="">
                <a class="animated4 slider btn btn-system btn-large btn-min-block" href="/portfolio1">Wood Houses</a><a class="animated4 slider btn btn-default btn-min-block" href="/portfolio2">Projecting and visualization</a>
              </div>
            </div>
          </div>
        </div>
        <!--/ Carousel item end -->
        <div class="item">
          <img class="img-responsive" src="images/slider/bg2.jpg" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated4">
                              <span><strong>Feth</strong> for the highest</span>
                          </h2>
              <h3 class="animated5">
                            <span>The Key of your Success</span>
                          </h3>
              <div class="">
                <a class="animated5 slider btn btn-system btn-large btn-min-block" href="/portfolio1">Wood Houses</a><a class="animated4 slider btn btn-default btn-min-block" href="/portfolio2">Projecting and visualization</a>
              </div>
            </div>
          </div>
        </div>
        <!--/ Carousel item end -->
        <div class="item">
          <img class="img-responsive" src="images/slider/bg3.jpg" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated7 white">
                              <span>The way of <strong>Success</strong></span>
                          </h2>
              <h3 class="animated8 white">
                            <span>Why you are waiting</span>
                          </h3>
              <div class="">
                <a class="animated4 slider btn btn-system btn-large btn-min-block" href="/portfolio1">Wood Houses</a><a class="animated4 slider btn btn-default btn-min-block" href="/portfolio2">Projecting and visualization</a>
              </div>
            </div>
          </div>
        </div>
        <!--/ Carousel item end -->
      </div>
      <!-- Carousel inner end-->

      <!-- Controls -->
      <a class="left carousel-control" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
      </a>
      <a class="right carousel-control" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
      </a>
    </div>
    <!-- /carousel -->
  </section>
  <!-- End Home Page Slider -->


  <!-- Start Content -->
  <div id="content">


    <!-- Start News & Skill Section -->
    <div class="container">
              <div class="row">
        <div class="col-md-6">

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Why Choose Us</span></h4>

          <!-- Accordion -->
          <div class="panel-group" id="accordion">

            <!-- Start Accordion 1 -->
            <div class="panel panel-default">
              <!-- Toggle Heading -->
              <div class="panel-heading">
                <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                <i class="icon-down-open-1 control-icon"></i>
                <i class="icon-laptop-1"></i> Fully Responsive Theme
              </a>
            </h4>
              </div>
              <!-- Toggle Content -->
              <div id="collapse-one" class="panel-collapse collapse in">
                <div class="panel-body">Duis ute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like <strong>readable English</strong>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
              </div>
            </div>
            <!-- End Accordion 1 -->

            <!-- Start Accordion 2 -->
            <div class="panel panel-default">
              <!-- Toggle Heading -->
              <div class="panel-heading">
                <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed">
                <i class="icon-down-open-1 control-icon"></i>
                <i class="icon-gift-1"></i> Touchable Slider
              </a>
            </h4>
              </div>
              <!-- Toggle Content -->
              <div id="collapse-tow" class="panel-collapse collapse">
                <div class="panel-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a <strong>more-or-less</strong> normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
              </div>
            </div>
            <!-- End Accordion 2 -->

            <!-- Start Accordion 3 -->
            <div class="panel panel-default">
              <!-- Toggle Heading -->
              <div class="panel-heading">
                <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                <i class="icon-down-open-1 control-icon"></i>
                <i class="icon-tint"></i> Retina Ready
              </a>
            </h4>
              </div>
              <!-- Toggle Content -->
              <div id="collapse-three" class="panel-collapse collapse">
                <div class="panel-body"><strong>Duis</strong> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
              </div>
            </div>
            <!-- End Accordion 3 -->

          </div>
          <!-- End Accordion -->

        </div>

        <div class="col-md-6">

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Our Skills</span></h4>

          <div class="skill-shortcode">
            <div class="skill">
              <p>Quality</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="97">
                  <span class="progress-bar-span">97%</span>
                  <span class="sr-only">97% Complete</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p>Innovation</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="89">
                  <span class="progress-bar-span">89%</span>
                  <span class="sr-only">89% Complete</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p>Reliability</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="100">
                  <span class="progress-bar-span">100%</span>
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p>Best prices</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="91">
                  <span class="progress-bar-span">91%</span>
                  <span class="sr-only">91% Complete</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- .col-md-6 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
    <!-- End News & Skill Section -->

    <!-- Start Portfolio Section -->
    <div class="project">
      <div class="container">
        <!-- Start Recent Projects Carousel -->
        <div class="recent-projects">
          <h4 class="title"><span>Recent Projects</span></h4>
          <div class="projects-carousel touch-carousel">

          <% Project.all.each do |project| %>
            <% if project.images.first %>
              <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <%= link_to project.images.first.url, :class => "lightbox" do %>
                      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                      <%= image_tag "#{project.images.first.thumb.url}" %>
                    <% end %>
                  </div>
                  <div class="portfolio-details">
                    <%= link_to project_path(project) do %>
                      <h4><%= project.name %></h4>
                      <span><%= truncate(project.description, :lenght => 17) %>...</span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          </div>
        </div>
        <!-- End Recent Projects Carousel -->
      </div>
      <!-- .container -->
    </div>
    <!-- End Portfolio Section -->

  </div>

  <%= render 'layouts/footer' %>